<div class="container">

    <h1 class="mt-3">All Men</h1>
  
    <!-- <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add Category</a>
    </div> -->
  
    <ng-container *ngIf="men$ | async as men">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Country</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let man of men; let i = index">
            <td>{{i+1}}</td>
            <td>{{man.name}}</td>
            <td>{{man.age}}</td>
            <td>{{man.city}}</td>
            <td>{{man.country}}</td>
            <td>
              <!-- <a class="btn btn-light" [routerLink]="['/admin/categories', category.id]">Edit</a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  
  </div>
  